strong {
    font-weight: bold;
}
body {
    color: black;
    background-color: #EDE2E0;
    font-family: Almarai, Arial, Helvetica, sans-serif;
    padding: 50px;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
